<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      {% assign current = page.url | downcase | split: '/' %}
      <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about" or current[1] == "tips" or current[1] == "tech" or current[1] == "blog" or current[1] == "review" %} class="normal" {% endif %} class="active">Home</a>
                </li>
                <!-- <li class="transition">
                    <a href="{{ '/tips' | prepend: site.baseurl }}" {% if current[1] == "tips" %} class="active"{% endif %} >Tips</a>
                </li>
                <li class="transition">
                    <a href="{{ '/tech' | prepend: site.baseurl }}" {% if current[1] == "tech" %} class="active"{% endif %} >Tech</a>
                </li>
                <li class="transition">
                    <a href="{{ '/blog' | prepend: site.baseurl }}" {% if current[1] == "blog" %} class="active"{% endif %} >Blog</a>
                </li> -->
                <li class="transition">
                    <a href="{{ '/review' | prepend: site.baseurl }}" {% if current[1] == "review" %} class="active"{% endif %} >Review</a>
                </li>
            </ul>
        </div>
      </nav>
    
    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}
      
    <main>
      {{ content }}
        
        <!-- {% if page.text == true %}
            {% include share.html %}
        {% endif %} -->

    </main>
      
    {% include footer.html %}
   
  </body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLNH6LT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
